<?xml version="1.0"?>
<launch>
  <arg name="input_skeleton" default="/skeleton_to_3d/skeletons" />
    
  <node name="skeleton_from_camera" pkg="skeleton3d" type="skeleton_visualiser" output="screen">
    <param name="input_skeleton" type="str" value="$(arg input_skeleton)" />
    <param name = "output_marker" type="str" value="/skeleton_to_3d_vis/skeleton_vis" />
  </node>


  <include file="$(find skeleton3d)/launch/generate_skeleton3d.launch">
  </include>

  <include file="$(find tfpose_ros)/launch/camera_input.launch">
  </include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find skeleton3d)/rviz/Skeleton_markers.rviz" />

</launch>
