<?xml version="1.0"?>
<launch>
  <arg name="scatter_step_distance" value="1" />
  <arg name="scatter_steps" value="6" />
  <arg name="calibration_messages" value="10" />
  <arg name="resolution" value="368x368" />
  <arg name="xtion1_active" default="false" />
  <arg name="xtion2_active" default="true" />
  <arg name="kinect2_active" default="true" />



  <!-- ++++++++++++++++++++++++++ LAUNCH CAMERAS +++++++++++++++++++++++++++++++++++++++++ -->
  
  <include file="$(find sensorlab_launch)/launch/sensorlab_startup.launch" />
  
  <!-- ++++++++++++++++++++++++++ KINECT2 ON LOCAL DEVICE ++++++++++++++++++++++++++++++++ -->
  <include if="$(arg kinect2_active)" file="$(find skeleton3d)/launch/kinect_estimator.launch">
    <arg name="resolution" value="$(arg resolution)" />
    <arg name="scatter_step_distance" value="$(arg scatter_step_distance)" />
    <arg name="scatter_steps" value="$(arg scatter_steps)" />
    <arg name="calibration_messages" value="$(arg calibration_messages)" />
  </include>
  
  <!-- ++++++++++++++++++++++++++ XTION1 ON ODROID1 ++++++++++++++++++++++++++++++++++++++ -->
  <include if="$(arg xtion1_active)" file="$(find skeleton3d)/launch/xtion1_estimator.launch">
    <arg name="resolution" value="$(arg resolution)" />
    <arg name="scatter_step_distance" value="$(arg scatter_step_distance)" />
    <arg name="scatter_steps" value="$(arg scatter_steps)" />
    <arg name="calibration_messages" value="$(arg calibration_messages)" />
  </include>

  <!-- ++++++++++++++++++++++++++ XTION2 ON ODROID2 ++++++++++++++++++++++++++++++++++++++ -->
  <include if="$(arg xtion1_active)" file="$(find skeleton3d)/launch/xtion1_estimator.launch">
    <arg name="resolution" value="$(arg resolution)" />
    <arg name="scatter_step_distance" value="$(arg scatter_step_distance)" />
    <arg name="scatter_steps" value="$(arg scatter_steps)" />
    <arg name="calibration_messages" value="$(arg calibration_messages)" />
  </include>

  <!-- +++++++++++++++++++ REPOSITORY AND CENTRAL INFRASTRUCTURE +++++++++++++++++++++++++ -->
  <include file="$(find skeleton3d)/launch/repository.launch">    
  </include>

  <include file="$(find skeleton3d)/launch/visualiser.launch">
  </include>
    
</launch>
